<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myTracer"
             type="CustomTraceListener.Tracer,CustomTraceListener, Version=1.0.0.0, Culture=Neutral,PublicKeyToken=null"
             AppId="1234"
             Logger="myLogger"
             CentralLoggerServiceUrl="http://localhost:12345/api/logging">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
        </add>
        <add name="Console"
             type="System.Diagnostics.ConsoleTraceListener">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
